/*Color Pallete
#F9F7F7
#DBE2EF
#3F72AF
#112D4E*/

.home-div {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("../img/background/bck3.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.light-div {
    width: 100%;
    padding: 5%;
    background-color: #F9F7F7;
}

.dark-div {
    width: 100%;
    padding: 5%;
    background-color: #112D4E;
}

.name {
    font-family: 'Montserrat', sans-serif;
    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    color: white;
}

.icon {
    margin: -100% 10px 0 10px;
}

.dev-img-div {
    text-align: center;
}

.university-logo {
    max-height: 150px;
}

.section-title-light {
    text-align: center;
    color: white;
    padding-bottom: 35px;
}

.section-title-dark {
    text-align: center;
    padding-bottom: 35px;
}

.company-logo {
    padding: 20px;
}

.skills-logo {
    padding: 20px;
    max-height: 200px;
    object-fit: contain;
    width: 100%;
}

.socials-div {
    position: relative;
    top: 350px;
}

.social-img {
    width: 40px;
    padding: 10px;
}

#t1 {
    position: relative;
    top: 230px;
}

#t2 {
    position: relative;
    top: 230px;
}

.social_img {
    filter: invert(94%) sepia(3%) saturate(959%) hue-rotate(187deg) brightness(99%) contrast(90%);
}

.social_img:hover {
    filter: invert(47%) sepia(9%) saturate(2990%) hue-rotate(173deg) brightness(87%) contrast(96%);
}

.c1 {
    width: 25px;
    margin: 10px;
    background: url("../img/social/linkedin.png") no-repeat center;
    background-size: cover;
    display: inline-block;
}

.c2 {
    width: 25px;
    margin: 10px;
    background: url("../img/social/github.png") no-repeat center;
    background-size: cover;
    display: inline-block;
}

.c3 {
    width: 25px;
    margin: 10px;
    background: url("../img/social/gitlab.png") no-repeat center;
    background-size: cover;
    display: inline-block;
}

.c4 {
    width: 25px;
    margin: 10px;
    background: url("../img/social/medium.png") no-repeat center;
    background-size: cover;
    display: inline-block;
}

.project-skill-img {
    max-width: 30px;
    max-height: 30px;
    padding: 5px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    max-height: calc(100vh);
    overflow-y: auto;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    position: absolute;
    height: 80%;
    width: 60%;
    top: 10%;
    left: 20%;
    transform: translate(0%, 0%);
    background: white;
}

