extends views/in_construction
//-
    extends views/base

    block content
        section#home
            div(class='home-div')
                include views/home

        section#bio
            div(class='light-div')
                include views/bio

        section#education
            div(class='dark-div')
                include views/education

        section#experience
            div(class='light-div')
                include views/experience

        section#awards
            div(class='dark-div')
                include views/awards

        section#skills
            div(class='light-div')
                include views/skills

        section#courses
            div(class='dark-div')
                include views/courses

        section#portfolio
            div(class='light-div')
                include views/portfolio

        section
            include views/footer
