html
    head
        title Brighton Mahatchi
        link(href='css/index.css', rel='stylesheet')
        link(href='css/bootstrap.css', rel='stylesheet')
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    body(data-bs-spy="scroll", data-bs-target="#main-nav", data-bs-offset="0")
        include nav
        block content
        script(src='js/bootstrap.bundle.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src='js/index.js')