div(class='row d-flex flex-wrap align-items-center')
    div(class='col-lg-6 col-12 dev-img-div')
        img(class='img-fluid dev-img', src='img/dev.png')
    div(class="col-lg-6 col-12 p-5 mb-4 bg-light rounded-3")
        div(class="container-fluid py-5")
            h1(class="display-5 fw-bold") About Me
            p(class="col fs-4") I have diverse experience in fullstack web and mobile development, and Machine Learning. <br><br> Furthermore, I am always looking to use technology to create solutions that improve lives and enhance businesses.

#open-modal.modal-window
    .text-center(style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);")
        iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSfrjp6hje6iw8j7xAqMfyUr2M0YwGHmI60pZ2yztwGXOU26pA/viewform?embedded=true", style="overflow:hidden;height:90%;width:100%", height="90%", width="100%") Loading...
        button(class="btn btn-outline-danger", onclick="history.back()") Close
