extends ../data/education_data

block education
    h1(class='section-title-light') Education

    div(class='row')
        each university in universities
            div(class="col-lg-6 col-md-12 mb-4")
                div(class="card text-center")
                    div(class="row g-0")
                        div(class="col-12 text-center p-3")
                            img(src=university.logo, class="img-fluid rounded-start university-logo")
                        div(class="col-12")
                            div(class="card-body")
                                h5(class="card-title")= university.name
                                p(class="card-text")= university.degree
                                p(class="card-text")
                                    small(class="text-muted")= university.years
                                    div#accordionFlushExample(class="accordion accordion-flush")
                                        div(class="accordion-item")
                                            h2#flush-headingOne(class="accordion-header")
                                                button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target=university.accordionIdText, aria-expanded="false", aria-controls=university.accordionIdText) More Details
                                        div(id=university.accordionId, class="accordion-collapse collapse", aria-labelledby="flush-headingOne", data-bs-parent="accordionFlushExample")
                                            div(class="accordion-body")
                                                table(class="table table-hover table-striped")
                                                    tr
                                                        th Courses
                                                    each course in university.courses
                                                        tr
                                                            td= course.name


