.container
    footer
        div(class="text-center p-5")
            span(class="text-muted") &#169; 2022 Brighton Mahatchi
            br
            br
            br
            a(href="https://github.com/TheRhaphe/Portfolio-Website", target="_blank") View Source
