div(class='name')
    h1#t1 Brighton Mahatchi
    h6#t2 Software & Machine Learning<br>Engineer
    div(class="socials-div text-center")
        a.social_img.c1(href="https://www.linkedin.com/in/bmahatchi/") &nbsp;&nbsp;&nbsp;
        a.social_img.c2(href="https://github.com/TheRhaphe") &nbsp;&nbsp;&nbsp;
        a.social_img.c3(href="https://gitlab.com/bmahatchi2") &nbsp;&nbsp;&nbsp;
        a.social_img.c4(href="https://medium.com/@bmahatchi/") &nbsp;&nbsp;&nbsp;

