html
    head
        title Brighton Mahatchi
        link(href='css/index.css', rel='stylesheet')
        link(href='css/bootstrap.css', rel='stylesheet')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    body(data-bs-spy="scroll", data-bs-target="#main-nav", data-bs-offset="0")
        nav#main-nav(class='navbar navbar-expand-lg sticky-top navbar-light bg-light', style="position: absolute; width: 100%;")
            div(class='container-fluid')
                a(class="navbar-brand text-bold", href="#")
                    strong Brighton Mahatchi
                button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarTogglerDemo02", aria-controls="navbarTogglerDemo02", aria-expanded="false", aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div#navbarTogglerDemo02(class="collapse navbar-collapse")
                    ul(class="navbar-nav ms-auto mb-2 mb-lg-0")
                    button.btn.btn-outline-secondary.my-2.my-sm-0(onclick="openContactForm()") Contact
        section#home
            div(class='home-div')
                div(class='name')
                    h1#t1 Brighton Mahatchi
                    h6#t2 Software & Machine Learning<br>Engineer
                    div(class="socials-div text-center")
                        h6(style="color: red;") Site under maintenance
        #open-modal.modal-window
            .text-center(style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);")
                iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSfrjp6hje6iw8j7xAqMfyUr2M0YwGHmI60pZ2yztwGXOU26pA/viewform?embedded=true", style="overflow:hidden;height:90%;width:100%", height="90%", width="100%") Loading...
                button(class="btn btn-outline-danger", onclick="history.back()") Close
        script(src='js/bootstrap.bundle.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src='js/index.js')