-
    const universities = [{
        accordionId: 'accordionFlush0',
        accordionIdText: '#accordionFlush0',
        name: 'Carnegie Mellon University',
        logo: 'https://www.cmu.edu/brand/brand-guidelines/images/seal-4c-600x600-min.jpg',
        degree: 'Master of Science in Electrical & Computer Engineering',
        years: '2021-2022',
        courses: [
            {
                name: "Design Patterns for Smartphone Development"
            },
            {
                name: "Data Structures & Algorithms for Engineers"
            },
            {
                name: "Foundations of Software Engineering"
            },
            {
                name: "Software Architecture and Design"
            },
            {
                name: "Mathematical Foundations of Machine Learning"
            },
            {
                name: "Data, Inference & Applied Machine Learning"
            },
            {
                name: "Artificial Cognitive Systems"
            },
            {
                name: "Applied Computer Vision"
            },
            {
                name: "Big Data Science"
            },
            {
                name: "Data Analytics"
            },
            {
                name: "Neurorobotics"
            },
        ]
    },
        {
            accordionId: 'accordionFlush1',
            accordionIdText: '#accordionFlush1',
            name: 'University of Zimbabwe',
            logo: 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/University_of_Zimbabwe_LOGO.png/150px-University_of_Zimbabwe_LOGO.png',
            degree: 'Bachelor of Science in Electrical Engineering',
            years: '2015-2019',
            courses: [
                {
                    name: "Engineering Mathematics I & II"
                },
                {
                    name: "Computer Science for Engineers"
                },
                {
                    name: "Software Engineering"
                },
                {
                    name: "Microprocessor Fundamentals"
                },
                {
                    name: "Digital Electronics I & II"
                },
                {
                    name: "Control Systems I & II"
                },
                {
                    name: "Telecommunications I & II"
                }
            ]
        },
        {
            accordionId: 'accordionFlush2',
            accordionIdText: '#accordionFlush2',
            name: 'WorldQuant University',
            logo: 'https://upload.wikimedia.org/wikipedia/commons/7/72/WQU_logo_color.png',
            degree: 'Master of Science in Financial Engineering',
            years: '2020-2022',
            courses: [
                {
                    name: "Financial Markets"
                },
                {
                    name: "Econometrics"
                },
                {
                    name: "Discrete-time Stochastic Processes"
                },
                {
                    name: "Continuous-time Stochastic Processes"
                },
                {
                    name: "Computational Finance"
                },
                {
                    name: "Machine Learning in Finance"
                },
                {
                    name: "Portfolio Theory and Asset Pricing"
                },
                {
                    name: "Case Studies in Risk Management"
                },
                {
                    name: "Data Feeds and Technology"
                },
                {
                    name: "Capstone Project"
                }
            ]
        },
        {
            accordionId: 'accordionFlush3',
            accordionIdText: '#accordionFlush3',
            name: 'Austin Peay State University & Shaw Academy',
            logo: 'https://upload.wikimedia.org/wikipedia/en/thumb/f/f2/Austin_Peay_State_University_seal.svg/1200px-Austin_Peay_State_University_seal.svg.png',
            degree: 'Professional Diploma in Project Management',
            years: '2021',
            courses: [
                {
                    name: "What is Project Management"
                },
                {
                    name: "Project Initiation Phase"
                },
                {
                    name: "Project Plan"
                },
                {
                    name: "Planning Cost, Time, and Quality"
                },
                {
                    name: "Change Control and Risk Management"
                },
                {
                    name: "Procurement and User Acceptance"
                },
                {
                    name: "Project Execution and Leadership"
                },
                {
                    name: "Monitoring and Controlling"
                },
                {
                    name: "Project Closure"
                },
                {
                    name: "Principles of Leadership"
                },
                {
                    name: "Vision, Values, and Purpose"
                },
                {
                    name: "Leadership and Organizational Culture"
                }
            ]
        },
        ];

block education