-
    const skills = {
        'Android': '../img/skills/android.png',
        'Java': '../img/skills/java.png',
        'Kotlin': '../img/skills/kotlin.png',
    }
    const projects = [
        {
            title: 'Vaya Africa',
            description: 'A ride share app initially launched in Zimbabwe then subsequently to other African countries',
            logo: '',
            skills: ['Android', 'Java', 'Kotlin']
        },
        {
            title: 'Vaya eLogistics',
            description: 'A logistics app to help customers and businesses conveniently request and monitor transportation and storage of goods from verified 3rd party providers',
            logo: '',
            skills: ['Android', 'Java', 'Kotlin']
        },
        {
            title: 'Vaya Eats',
            description: 'A meal delivery app that allows customers to order from their favorite restaurants and have their food delivered by Vaya Africa drivers',
            logo: '',
            skills: ['Android', 'Java', 'Kotlin']
        },
    ]

block portfolio